
    <div class="col-md-4">
          <div class="content-section">
            <h3>Raspberry Pi 3</h3>
            <p class='text-muted'>Laboratorium server statistics
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Uptime is {{ test }}</li>
                <li class="list-group-item list-group-item-light">CPU temp</li>
                <li class="list-group-item list-group-item-light">DHT11 sensors connected</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>